@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand&display=swap');


:root {
    font-family: 'Oxygen', sans-serif !important;
}
html {
    font-size: 14px;
    margin: 0;
    padding: 0;
   
}



html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #181818;
    color: rgba(238, 238, 238, 0.815);
    font-family: 'Oxygen', sans-serif !important;
}
/*nav*/
.form-control {
    width: 250px;
}
td,th{
  color: rgba(238, 238, 238, 0.815);
}
nav {background-color: rgb(34, 34, 34);
 }

.search-btn {
    background-color: rgba(142, 4, 197, 0.829);
}
nav a {
    color: rgba(223, 223, 223, 0.815);
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px
}
 nav a:hover{
  color: rgba(142, 4, 197, 0.829);
  
 }
.absolute {
position:absolute;
color: rgba(142, 4, 197, 0.829);
}

.float-right {
  float: right;
  margin-right: 10%;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2e2e2e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#viking{
margin-left:auto;
}
.brand {
 float: right;
 position: relative;

}

.product-list {
    display: grid;
    position: relative;
    margin-top: 100px;
    color: white;
    margin-left: 3%;
    margin-right:3%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height:400px
  
}

.myImg {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-left:20%;
    
    margin-top:5%;
    vertical-align: middle;
    
    
   
}
.products-header {
font-size:30px;
margin-bottom:2%;
}

.main-product-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.main-product-img {
    object-fit: cover;
    margin-top:50px;
    width: 70%;
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.product-title {
font-size:20px;
margin-bottom:20px;
}
.product-label {
    font-size:18px;
}
.main-inner-div {
}
.inner-div {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}



.grid-item {
border-radius:5px;
padding:5px 5px 5px 5px;
background-color: rgb(34, 34, 34);
min-width:375px;
position:relative;
}
.main-grid-item {
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(34, 34, 34);
    grid-row: 1 / span 2;
    min-width:300px;
}


#customer-msg {
    color: white;
    font-size: 34px;
    margin-top: 350px;
    margin-left: 4%;
    margin-bottom: 5px;
    font-weight: 500;
}

#customer-msg2 {
    color: white;
    font-size: 24px;
    
    margin-left: 4%;
    margin-bottom: 40px;
}


.navbar-brand {
font-size:28px;
}
.textForVideo {
    position: absolute;
    color: white;
   top: 45%;
    font-size: 48px;
    z-index: 3;
    margin-left: 50px;
}
video {
    object-fit:cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
   
}


#customer {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    
   height:700px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}
#shop-now {

    margin-left:4%;
    padding-left:50px;
    padding-right:50px;
    font-size:18px
}
.button {
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: white;
    background-color: rgba(142, 4, 197);
    cursor: pointer;
}
.button:hover {
    
    color: white;
   
}
/*Dropdown menu*/
.drop-btn {
    background-color: transparent;
    color: rgba(223, 223, 223, 0.815);
    border: none;
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px
}

.my-icon {
    background-color: transparent;
    color: rgba(223, 223, 223, 0.815);
    border: none;
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    line-height: inherit;
}
#cart {
    color: rgba(223, 223, 223, 0.815);
    margin-right:15px;
    transform:translateY(5px)
}
    #cart:hover {
        color: rgba(142, 4, 197, 0.829);
    }
    
#search {
    position:absolute;
    transform:translate(-140%,0%);
    height:24%;
    background-color: rgba(142, 4, 197);
  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-custom {

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(34, 34, 34);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: #f1f1f1;
        font-size:20px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: #f1f1f1;
            background-color: rgba(142, 4, 197, 0.829);
           
        }

.dropdown:hover .dropdown-content {
    display: block;
}




.toast {
position:absolute;
bottom:0px;
right:0px;
}
.error {
    color: #dc3545;
}
.textForVideo p {
font-size:32px
}
.card-body {
    background-color: rgb(34, 34, 34);
    
    
}
.card{
  border: none;
  background-color: white;
}
.btn-primary{
  background-color: rgba(241, 241, 241, 0.925);
  border-color: transparent;
  color: black;
}
.btn-primary:hover{
  background-color: rgba(142, 4, 197, 0.829);
  border-color: transparent;
  color: white;
}
.container {
    display:grid;
    grid-template-columns: auto auto ;
    column-gap:80px;
    row-gap:100px
}

.material-icons {
    color: rgba(241, 241, 241, 0.925);
    margin-left: 5px;
    font-size: 1.5em;
}
.material-icons:hover {
  color: rgba(142, 4, 197, 0.829);
  
}
.card-img-top {
    object-fit: fill;
    width:100%;
    height: 250px;
}
.detailImg {
    width:250px;
    height:250px;

}
.container {
margin-top:10px;
}
.btn {
margin-top:15px;
margin-bottom:10px;
}
.link {
margin-right:5px;
}
.column-margin {
margin-left:5px;
}

/*Login page*/

.btn-link {
    color: rgba(223, 223, 223, 0.815);
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    border:none;
    background-color:transparent;
}
    .btn-link:hover {
        color: rgba(142, 4, 197, 0.829);
    }


#myform {
    position:relative;
    color:black;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 25px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    height:600px;

}
#register-form {
    color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 25px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    height: 800px;
}

    #register-form .logInput {
        width: 450px;
        font-size: 16px;
        margin-top: 10px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
    }

    #register-form select {
        width: 450px;
        font-size: 16px;
        margin-top: 10px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
    }
#myform .logInput {
width:250px;
font-size:16px;
margin-top:10px;
height:40px;
margin-left:auto;
margin-right:auto;
padding-left:50px;
}

#login-submit {
    width: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-bottom: 20px;

}
#myform form {
margin-top:60px;
}

.input-icon {
position:absolute;
left: 85px;
margin-top:10px;
}

.login-title {
    position:relative;
    top:10px;
    margin-bottom: 30px;
}

#forgot-password {
    
   position:relative;
    border-top: 1px solid grey;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:10px;
}


@media (min-width: 717px) {
    html {
        font-size: 16px;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 60px;
        row-gap: 100px
    }
}