 
@inject IStoreRepository<ProductCategory> productCategoryService
@{
    var categories = await  productCategoryService.GetAllAsync();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Warmonger Pc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerSideProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="viking" src="~/Img/Viking.png" width="150" height="100"> Warmonger PC </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="float-right">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_LoginPartial" />
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="drop-btn">Categories</button>
                            <div class="dropdown-content">@foreach (var category in categories){
                                <a asp-action="GetProductsForCategory" asp-controller = "Products" asp-route-id="@category.CategoryId">@category.ProdCat</a>
                               
                            }
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Products">Products</a>

                        </li>

                        
                        <li class="nav-item">
                            <a class="material-symbols-outlined customer-nav-item my-icon" id="cart">
                                shopping_cart
                            </a>
                            </li>
                       
                            <li class="nav-item">
                            <form  asp-action="Index" asp-controller= "Products"name="name" method="get">
                                <input type="text" name="name" class="customer-nav-item" placeholder="Search">
                                <input type="submit" class="material-symbols-outlined customer-nav-item my-icon" id="search" value="search">
                            
                        
                            </form>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


