@{
    ViewData["Title"] = "Home Page";
}
@inject CurrentSession _session
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
 
}
 
     
  <video playsinline autoplay muted loop>
    <source src="~/video/VideoGames.mp4" type="video/mp4">
   
  </video>
 
   <div class="textForVideo">Welcome to Warmonger pc staff side
          <p>Manage products and users </p>
   </div>

  

